{% include 'nav' %}
<div class="program-container w-100 bg-primary">
  <div class="col-8 mx-auto text-center pt-5">
      <h1 class="text-white text-center text-xl text-capitalize">{{ page.title }}</h1>
  </div>
  <div class="col-sm-11 col-md-9 mx-auto text-white text-sm">
  <div class="row mb-5">
  <div class="col-md-6 col-sm-12">
    {{ page.content }}
  </div>
    <div class="col-md-6 col-sm-12">
      <img class="image w-100" src="https://s3.amazonaws.com/unode1/assets/5084/onmmVwJSpmh4qN3a3UAt_Screen Shot 2019-01-20 at 4.52.48 PM.png"/>
    </div>
  </div>
  <div class="row">
  <div class="col-md-10 col-sm-12 col-xl-8 mx-auto">
  {% include 'newsletter' %}
  </div>
  </div>
  
  
  </div>
</div>