<style>
.start-mail-signup {
    position: initial !important;
    width: 100% !important;
}
</style>

{% include 'nav' %}
<div class="program-container w-100 bg-primary">
  <div class="col-8 mx-auto text-center pt-5">
      <h1 class="text-white text-center text-xl text-capitalize">Our Story</h1>
  </div>
  <div class="col-lg-12 col-xl-10 mx-auto text-white text-sm">
  <div class="row mb-5">
  <div class="col-md-6 col-sm-12">
    {{ page.content }}
  </div>
    <div class="col-md-6 col-sm-12">
      <img class="image w-100" src="https://s3.amazonaws.com/unode1/assets/5591/hDKtPjSrSYistq6vcK4v_melanie_and_andrea.jpg"/>
    </div>
  </div>
  <div class="row">
  <div class="mx-auto text-center col-md-8 col-sm-12">
  {% if settings.common.about-show-button %}
  <div class="my-3">
  {% include 'preview-btn' %}
  </div>
  {% endif %}
  
  {% if settings.common.about-show-sign-up %}
  {% include 'sign-up' %}
  {% endif %}
  
  </div>
  </div>
  
  
  </div>
</div>
{% include 'jr-footer' %}