<div class="container author-page">
  <div class="row">
    <div class="col-sm-9 author_info">
      <h2>{{ author.name }}</h2>
      <h3>{{ settings.page_blocks.author_info.title }}</h3>
      {{ author.description }}
    </div>
    <div class="col-sm-3 author-page--info">
      <div class="author-page--avatar">
        <div class="author-page--avatar-inner">
          <img src="{{ author.avatar | image_url, width: 300 }}" alt="{{ author.name }}" />
        </div>
      </div>
    </div>
  </div>
  <div class="author-page--section"></div>
  <div class="row">
    {% for program in programs %}
      {% include 'card' %}
    {% endfor %}
  </div>
</div>
