<style>
.hero_banner--program.hero_banner, .hero_banner--program .hero_banner--cta, .hero_banner--program .hero_banner--main {
  min-height: 90px;
}
.hero_banner--main::after, .hero_banner--main::before {
  content: none;
}
</style>
<div class="hero_banner hero_banner--author hero_banner--program">
  <div class="hero_banner--main hero-background-color">
    <div class="container hero_banner--cta">
      <div class="category-page--banner-content">
        <h3 class="category-page--banner-title">{{ page.title }}</h3>
      </div>
    </div>
  </div>
</div>
<div class="light">
  {{ cbt }}
</div>
