<div class="category-page">
  <div class="category-page--banner" style="background: url('{{ settings.page_blocks.category.image | image_url, width: 900 }}') center no-repeat;">
    <div class="category-page--banner-shadow" style="background-color: {{ settings.page_blocks.category.background_color | to_rgba, opacity: settings.page_blocks.category.fade }}"></div>
    <div class="category-page--banner-content">
      <h3 class="category-page--banner-title">{{ category.title }}</h3>
      <div class="category-page--banner-subtitle">{{ category.description }}</div>
    </div>
  </div>
  <div class="container">
    <div class="author-page--section"></div>
    <div class="row">
      {% for program in programs %}
        {% include 'card' %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12 author-page--browse-all">
        <a href="/catalog?category_id={{ category.id }}" class="btn btn--outline btn--width">
          {{ settings.page_blocks.category.button_text }}
        </a>
      </div>
    </div>
  </div>
</div>
