<section class="share-save-help category_help_section">
  <div class="container">
    <div class="share-save-help--inner">
      <div class="share-save-help--block">
        <h3>{{ settings.page_blocks.category_help_section.block_1_title }}</h3>
        <p>{{ settings.page_blocks.category_help_section.block_1_text }}</p>
        <footer class="share-save-help--block-footer">
          {% if settings.page_blocks.category_help_section.instagram.size != 0 %}
            <a href="{{ settings.page_blocks.category_help_section.instagram }}" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          {% endif %}
          {% if settings.page_blocks.category_help_section.facebook.size != 0 %}
            <a href="{{ settings.page_blocks.category_help_section.facebook }}" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
          {% endif %}
          {% if settings.page_blocks.category_help_section.youtube.size != 0 %}
            <a href="{{ settings.page_blocks.category_help_section.youtube }}" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          {% endif %}
          {% if settings.page_blocks.category_help_section.twitter.size != 0 %}
            <a href="{{ settings.page_blocks.category_help_section.twitter }}" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          {% endif %}
        </footer>
      </div>
      <div class="share-save-help--block">
        <h3>{{ settings.page_blocks.category_help_section.block_2_title }}</h3>
        <p>{{ settings.page_blocks.category_help_section.block_2_text }}</p>
        <footer class="share-save-help--block-footer">
          <img
            src="{{ settings.page_blocks.category_help_section.block_2_icon | image_url, width: 10 }}"
            data-full="{{ settings.page_blocks.category_help_section.block_2_icon | image_url, width: 70 }}"
            data-controller="progressive"
            data-target="progressive.image"
            alt="{{ settings.page_blocks.category_help_section.block_2_title }}"
            class="image preview" />
        </footer>
      </div>
      <div class="share-save-help--block">
        <h3>{{ settings.page_blocks.category_help_section.block_3_title }}</h3>
        <p>{{ settings.page_blocks.category_help_section.block_3_text }}</p>
        <footer class="share-save-help--block-footer">
          <div class="share-save-help--block-footer-link">
            <a href="{{ settings.page_blocks.category_help_section.cta_url | link }}" class="btn btn--outline btn--width">
              {{ settings.page_blocks.category_help_section.cta_text }}
            </a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</section>
