{% if settings.page_blocks.featured_category.id %}
  {% assign category = settings.page_blocks.featured_category.id | get_category %}
  <div class="featured_category">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="featured_category--title">{{ settings.page_blocks.featured_category.title }}</h2>
        </div>
      </div>
      <div class="justify-content-center">
        <div class="row">
          {% for program in category.programs_preview | limit: settings.page_blocks.featured_category.limit %}
            {% include 'card' %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container cta_container">
      <div class="row justify-content-center">
        <div class="cta_container--button">
            <a href="{{ settings.page_blocks.featured_category.cta_url | link }}" class="btn btn--outline btn--width">
              {{ settings.page_blocks.featured_category.cta_text }}
            </a>
          </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="featured_category">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <h2 class="featured_category--title">{{ settings.page_blocks.featured_category.title }}</h2>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 card">
              <a href="/" class="main_poster">
                <img src="https://s3.amazonaws.com/unode1/assets/4/PnJXFrlVQXGyNxi4rZbM_theme-13-1.jpg" alt=""  class="image"/>
              </a>
              <a href="/" class="title primary-hover-color">
               Find your inner flow and enjoy every moment of it
              </a>
              <div class="card--footer">
               <div>
                  <div class="card--author-avatar">
                    <img src="https://s3.amazonaws.com/unode1/assets/4/2b2rJKFuQPCdQ722gzxs_ava-theme-13-1.png" alt="" />
                  </div>
                  <a href="/" class="author">
                    Cora Hubbard
                  </a>
                </div>
                <div class="duration">20:00</div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card">
              <a href="/" class="main_poster">
                <img src="https://s3.amazonaws.com/unode1/assets/4/Usg3wCatSMad0prUMrWW_theme-13-2.jpg" alt=""  class="image"/>
              </a>
              <a href="/" class="title primary-hover-color">
               Learning how to relax: For beginners
              </a>
              <div class="card--footer">
               <div>
                  <div class="card--author-avatar">
                    <img src="https://s3.amazonaws.com/unode1/assets/4/81fmm0XSmOhvzTkAGsgp_ava-theme-13-2.png" alt="" />
                  </div>
                  <a href="/" class="author">
                    Jason Marshall
                  </a>
                </div>
                <div class="duration">18:50</div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card">
              <a href="/" class="main_poster">
                <img src="https://s3.amazonaws.com/unode1/assets/4/jEEwK98GQ0KKSZlgJ41C_theme-13-3.jpg" alt=""  class="image"/>
              </a>
              <a href="/" class="title primary-hover-color">
               Find your inner peace
              </a>
              <div class="card--footer">
               <div>
                  <div class="card--author-avatar">
                    <img src="https://s3.amazonaws.com/unode1/assets/4/VNRNVgvcSySpnFvrCLjU_ava-theme-13-3.png" alt="" />
                  </div>
                  <a href="/" class="author">
                    Cory Wood
                  </a>
                </div>
                <div class="duration">32:12</div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 card">
              <a href="/" class="main_poster">
                <img src="https://s3.amazonaws.com/unode1/assets/4/jHO6Y736T4ysN4ss9gna_theme-13-4.jpg" alt=""  class="image"/>
              </a>
              <a href="/" class="title primary-hover-color">
               Lean Into Simplicity
              </a>
              <div class="card--footer">
               <div>
                  <div class="card--author-avatar">
                    <img src="https://s3.amazonaws.com/unode1/assets/4/BslhOuG8QMzvkCJguWvw_ava-theme-13-4.png" alt="" />
                  </div>
                  <a href="/" class="author">
                    Chase Reid
                  </a>
                </div>
                <div class="duration">18:50</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
