{% if settings.page_blocks.featured_category.id %}
  {% assign category = settings.page_blocks.featured_category.id | get_category %}
  <div class="featured_category">
    <div class="container">
      <hgroup class="featured_category--headers">
        <h2 class="featured_category--title">{{ settings.page_blocks.featured_category.title }}</h2>
        <a href="catalog?category_id={{settings.page_blocks.featured_category.id}}" class="featured_category--view-all">{{ settings.page_blocks.featured_category.vie_all_text }}</a>
      </hgroup>
      <div class="justify-content-center">
        <div class="row">
          {% for program in category.programs_preview | limit: settings.page_blocks.featured_category.limit %}
            {% include 'card' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="featured_category">
    <div class="container">
      <hgroup class="featured_category--headers">
        <h2 class="featured_category--title">{{ settings.page_blocks.featured_category.title }}</h2>
        <a href="{{ settings.page_blocks.featured_category.vie_all_url | link }}" class="featured_category--view-all">{{ settings.page_blocks.featured_category.vie_all_text }}</a>
      </hgroup>
      <div class="justify-content-center">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4 card">
            <a href="/" class="main_poster">
              <img src="https://s3.amazonaws.com/unode1/assets/4832/yJFB2lgiR1ufMB8EZw4X_preview-1.jpg" alt="" class="image"/>
            </a>
            <div class="card--footer">
              <span class="card--footer-shadow" style="background-image: url('https://s3.amazonaws.com/unode1/assets/4832/yJFB2lgiR1ufMB8EZw4X_preview-1.jpg');"></span>
              <div>
                <a href="/" class="title">
                  Mindfull Eating
                </a>
                <img src="https://s3.amazonaws.com/unode1/assets/4/3pFLyTscQjdobNaFGSlC_play-icon.svg" alt="">
              </div>
              <div>
                <a href="/" class="author">
                  by Nikki Sanders
                </a>
                <span class="duration">12:11</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 card">
            <a href="/" class="main_poster">
              <img src="https://s3.amazonaws.com/unode1/assets/4832/xzw7LzfASju1iuUNRQEc_preview-2.jpg" alt="" class="image"/>
            </a>
            <div class="card--footer">
              <span class="card--footer-shadow" style="background-image: url('https://s3.amazonaws.com/unode1/assets/4832/xzw7LzfASju1iuUNRQEc_preview-2.jpg');"></span>
              <div>
                <a href="/" class="title">
                  Managing Anxiety
                </a>
                <img src="https://s3.amazonaws.com/unode1/assets/4/3pFLyTscQjdobNaFGSlC_play-icon.svg" alt="">
              </div>
              <div>
                <a href="/" class="author">
                  by Carla Sandies
                </a>
                <span class="duration">20:00</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 card">
            <a href="/" class="main_poster">
              <img src="https://s3.amazonaws.com/unode1/assets/4832/fToW3HNhQfiavydYo2Py_preview-3.jpg" alt="" class="image"/>
            </a>
            <div class="card--footer">
              <span class="card--footer-shadow" style="background-image: url('https://s3.amazonaws.com/unode1/assets/4832/fToW3HNhQfiavydYo2Py_preview-3.jpg');"></span>
              <div>
                <a href="/" class="title">
                  Pain Management
                </a>
                <img src="https://s3.amazonaws.com/unode1/assets/4/3pFLyTscQjdobNaFGSlC_play-icon.svg" alt="">
              </div>
              <div>
                <a href="/" class="author">
                  by Nick Name
                </a>
                <span class="duration">18:34</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
