<nav id="story-header" class="{% unless isIndexNav %}nav--at-back bg-primary{% endunless %}">
  <div class="d-flex col-12 mx-auto align-items-center">
      <a href="/{% unless user.guest %}pages/home{% endunless %}">
          <img class="logo" src="https://s3.amazonaws.com/unode1/assets/5381/nXXib4HQEKf5XCH6nDW9_joyride-light.png"></img>
      </a>
      {% unless isIndexNav %}
      <div class="nav-title text-md text-white text-bold d-none d-lg-block w-50 mx-auto">
      {% case template %}
        {% when 'program' %}
        {% assign pageTitle = program.title %}
        {% when 'about' %}
        {% assign pageTitle = page.title %}
        {% when 'catalog' %}
        {% assign pageTitle = settings.page_blocks.catalog.title %}
        {% else %}
        {% assign pageTitle = page.title %}
      {% endcase %}
      {{ pageTitle }}
      </div>
      {% endunless %}
      <div class="link-list">   
        {% for link in navigation.groups.main %}
          {% case link.url %}
            {% when '/sign_in' %}
              {% if user.guest %}
                <a href="{{ link.url | link }}" class="nav-link text-white mr-2">{{ link.title }}</a>
              {% endif %}
            {% when '/dashboard' %}
              {% unless user.guest %}
                <a href="{{ link.url | link }}" class="nav-link text-white mr-2">{{ link.title }}</a>
              {% endunless %}
            {% when '/sign_out' %}
              {% unless user.guest %}
                <a href="{{ link.url | link }}" class="nav-link text-white mr-2">{{ link.title }}</a>
              {% endunless %}
            {% else %}
              <a href="{{ link.url | link }}" class="nav-link text-white mr-2">{{ link.title }}</a>
          {% endcase %}
        {% endfor %}
      </div>
  </div>
</nav>


                    
