<section>
    <h1 class="text-lg m-b-lg">
      {{ settings.common.section_1_title }}
    </h1>
    <p class="text-sm m-b-lg">
       {{ settings.common.section_1_body }}
    </p>
    <p class="text-sm m-b-lg">
        <b>Scroll</b> to begin your journey. 
    </p>

    <div style="position: fixed; bottom: 30px; right: 30px; color: white; font-size: 20px; z-index: 10; text-decoration: underline;">
        <a href="{{ settings.common.free_preview_url }}"><button tabIndex="-1" class="btn btn-tertiary">{{ settings.common.free_preview_text }}</button></a>
    </div>
    
    {% include 'sign-up' %}
</section>
<section>
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_2_title }}
    </h2>
    <p class="text-md m-b-lg">
      {{ settings.common.section_2_body }}
    </p>
</section>
<section>
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_3_title }}
    </h2>
    <p class="text-md m-b-lg">
      {{ settings.common.section_3_body }}
    </p>
</section>
<section>
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_4_title }}
    </h2>
    <p class="text-md m-b-lg">
      {{ settings.common.section_4_body }}
    </p>
</section>
<section>
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_5_title }}
    </h2>
    <p class="text-md m-b-lg">
      {{ settings.common.section_5_body }}
    </p>
</section>
<section>
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_6_title }}
    </h2>
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_6_body }}
    </h2>
</section>
<section>
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_7_title }}
    </h2>
     <p class="text-md m-b-lg">
      {{ settings.common.section_7_body }}
    </p>
</section>
<section>
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_8_title }}
    </h2>
    <p class="text-md m-b-lg">
      {{ settings.common.section_8_body }}
    </p>
</section>
<section class="text-white">
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_9_title }}
    </h2>
    <p class="text-md m-b-lg">
      {{ settings.common.section_9_body }}
    </p>
</section>
<section class="text-white">
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_10_title }}
    </h2>
    <p class="text-md m-b-lg">
      {{ settings.common.section_10_body }}
    </p>
        <!--<div style="padding:56.25% 0 0 0;position:relative; border: 6px solid white; border-radius: 4px; z-index: -100;"><iframe src="https://player.vimeo.com/video/212731897?color=ffffff" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>-->
</section>
<section style="color: white;">
    <h2 class="text-lg m-b-lg">
      {{ settings.common.section_11_title }}
    </h2>
    <p class="text-sm m-b-lg col-sm-12 col-md-8 mx-auto">
      {{ settings.common.section_11_body }}
    </p>
    <p class="text-sm col-sm-12 col-md-8 m-b-lg mx-auto">
        <b>{{ settings.common.section_11_final }}</b>
    </p>
    {% include 'preview-btn' %}
    <div class="text-md experience__social-row">
      <a href="{{ settings.common.facebook_url }}" class="social-icon text-white mr-2">
        <i class="fab fa-facebook-square"></i>        
      </a>
      <a href="{{ settings.common.instagram_url }}" class="social-icon text-white mr-2">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="{{ settings.common.email_url }}" class="social-icon text-white">
        <i class="far fa-envelope"></i>
      </a>
    </div>
</section>