<div class="why_us">
  <div class="container">
    <div class="row why_us--items">
      <div class="col-md-4 why_us--item">
        {% if settings.page_blocks.why_us.element_1_icon %}
          <img src="{{ settings.page_blocks.why_us.element_1_icon | image_url, height: 80 }}" alt="{{ settings.page_blocks.why_us.element_1_title }}"/>
        {% endif %}
        <h4>
          {{ settings.page_blocks.why_us.element_1_title }}
        </h4>
        <p>
          {{ settings.page_blocks.why_us.element_1_desc }}
        </p>
      </div>
      <div class="col-md-4 why_us--item">
        {% if settings.page_blocks.why_us.element_2_icon %}
          <img src="{{ settings.page_blocks.why_us.element_2_icon | image_url, height: 80 }}" alt="{{ settings.page_blocks.why_us.element_2_title }}"/>
        {% endif %}
        <h4>
          {{ settings.page_blocks.why_us.element_2_title }}
        </h4>
        <p>
          {{ settings.page_blocks.why_us.element_2_desc }}
        </p>
      </div>
      <div class="col-md-4 why_us--item">
        {% if settings.page_blocks.why_us.element_3_icon %}
          <img src="{{ settings.page_blocks.why_us.element_3_icon | image_url, height: 80 }}" alt="{{ settings.page_blocks.why_us.element_3_title }}"/>
        {% endif %}
        <h4>
          {{ settings.page_blocks.why_us.element_3_title }}
        </h4>
        <p>
          {{ settings.page_blocks.why_us.element_3_desc }}
        </p>
      </div>
    </div>
  </div>
</div>
